<!DOCTYPE html>
<html>
<head>
  <title>Proyecto Web Taxi Xpress App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
        <p class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">MENU</p>
          <a class="navbar-brand" href="/">Taxi App</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
          
          <ul class="nav navbar-nav navbar-right">
            <li><h4>Usuario: ldelafuente</h4></li>
            <li><a href="/registrar"><button class="btn btn-danger navbar-btn">Salir</button></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
      </nav>
<%= yield %>
<div class="container">
<footer>
  <p>Proyecto UPC 2015</p>
</footer>
</div>
</body>
</html>
