  <div class="container">
  <div class="jumbotron">
      <center><p>Clic en Iniciar para solicitar el mejor servicio de taxi</p></center>
      <center><p><a href=""><button class="btn btn-primary navbar-btn">Iniciar</button></a></p></center>
  </div>
  <div class="row">
      <h3>Integrantes:</h3>
  </div>
  <div class="row">
      <div class="col-lg-6">
          <h4>Luis De la Fuente Dávila</h4>
          <p>Ingeniería de Sistemas</p>

          <h4>Raúl Chavez</h4>
          <p>Ingeniería de Sistemas</p>

          <h4>Abel Inocente</h4>
          <p>Ingeniería de Sistemas</p>
        </div>
         <div class="col-lg-6">
          <h4>David Tremoche</h4>
          <p>Ingeniería de Redes</p>

          <h4>Giovanni Delgado</h4>
          <p>Ingeniería de Redes</p>

         
        </div>
  </div>
  </div>
