<h1>Mis últimas 10 solicitudes:</h1>
<table class="center">
    <thead>
    <tr>
        <th>Nro Solicitud</th>
        <th>Fecha Solicitud</th>
        <th>Origen</th>
        <th>Destino</th>
        <th>Costo</th>
        <th>Tipo Unidad</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>001</td>
            <td>12/09/2015</td>
            <td>Av. Javier Prado</td>
            <td>Ov. Santa Anita</td>
            <td>S/ 25</td>
            <td>Mini Van</td>
        </tr>
        <tr>
            <td>002</td>
            <td>15/09/2015</td>
            <td>Ov. Higuereta</td>
            <td>Av. Aviación</td>
            <td>S/ 12</td>
            <td>Sedan</td>
        </tr>
    </tbody>
</table>